{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}

    {% if user.is_authenticated %}

        <h1>Rango says... hello {{ user.username }}</h1>
    {% else %}
        <h1>Rango says... hello world! </h1>
    {% endif %}

    {% if categories %}
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories parent.</strong>
    {% endif %}

    {% if pages %}
        <ul>
        {% for page in pages %}
            <li><a href="#">{{ page.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <strong></strong>
    {% endif %}

    {% if last_visit %}
        Last visit: {{ last_visit }}
    {% endif %}
    {% if visits %}
        Visit: {{ visits }}
    {% endif %}

    <img width="200px" src="{% static "images/rango.jpg" %}" alt="Picture of rango">

{% endblock %}